<% if notice %>
  <p class="notice"> <%= notice %> </p>
  <script type="text/javascript">
    $('.notice').fadeOut(5000, function() { $(this).remove(); });
  </script>
<% end %>
<% if alert %>
  <p class="alert"> <%= alert %> </p>
<% end %>
