* {
  font-familiy: Arial, serif;
  text-align: justify;
}
body {
  background: white !important;
  background-image: none !important;
  font-size: 12pt;
  color: black;
  margin: 0 5%;
  width: 660px;
}
#content {
  width: auto;
  padding: 0;
  border: 0;
  float: none !important;
  background: transparent none;
}
.noprint {
  display: none;
}

a[href]:after {
  content: " <" attr(href) "> ";
  color: #888;
  font-style: italic;
  font-size: 80%;
}
img[alt]:after {
  content: " (" attr(alt) ") ";
}
h1, h2, h3, h4, h5 {
  font-size: 13pt;
  line-height: 110%;
  margin: 0;
  padding: 0;
}
dl, dt, dd {
  float: none !important;
}
