# see also https://github.com/whitequark/parser/blob/master/.github/workflows/test.yml
name: Rake

on: [push]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ruby_version: [head, "3.4", "3.2"]
        test_command: ["bundle exec rake test"]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}
    - name: Bundle install
      run: |
        bundle config set frozen false
        bundle config path /home/runner/bundle
        bundle install
        bundle update
    - run: ${{ matrix.test_command }}
