/ # Show complete flash
/ # flash[:notice] are faded out after 5 seconds

css:
  .flash_notice {
    animation: animate_notice 5s linear 2s forwards;
  }
  @keyframes animate_notice {
    from { opacity: 1; }
    to { opacity: 0; }
  }

- (flash || {}).each do |key, value|
  p class="flash_#{key}" = sanitize(value)
