ruby:
  app = "#{APP.capitalize} #{APP_VERSION || VERSION}"
  if Rails.env.production?
    ruby = "Ruby #{RUBY_VERSION}"
    rails = "Rails #{Rails.version}"
  else
    ruby = "Ruby #{RUBY_VERSION}-p#{RUBY_PATCHLEVEL}"
    rails = "Rails #{Rails.version} (#{Rails.env})"
  end
  str = "| #{app} | #{ruby} | #{rails} | #{STARTED_AT}"

footer
  div #{copyright} #{str}
