title = (APP || 'app').capitalize
= favicon_link_tag
= stylesheet_link_tag @stylesheet || 'application', media: 'all'
= stylesheet_link_tag 'print', media: 'print'
= javascript_include_tag 'application'
= csrf_meta_tags
